*.exe
*.dll
*.dcu
*.dcp
*.bpl
*.bpi
*.map
*.tds
*.~*
*.identcache
*.local
*.dproj.local
*.dsk
*.bak
*.tmp
*.stat
*.obj
*.hpp
*.dres
*.res
*.drc
*.il*
*.bpg
__history/
__recovery/
*.dproj.intermediate
*.tvsconfig
*.tgs
*.ipj
*.groupproj
*.dproj.~*
*.pas.~*
*.dfm.~*
*.ncb
*.sdf
*.log
*.log.txt
.vscode/
*.user
*.vsconfig